@import "~bootstrap/dist/css/bootstrap.min.css";

.paloAbajo {
  font-size: 100px;
  transform: rotate(180deg);
}

.paloArriba {
  font-size: 100px;
}

.cardValue {
  font-size: 100px;
}
.red {
  color: red;
}
